@import "../node_modules/bootstrap/scss/bootstrap.scss";

.aa01Logo{
    height: 60px;
    width: 205px;
    margin-left: -25px;
}

.pr-0{
    padding-right : 0px;
}

.pl-0{
    padding-left: 0px;
}

.navTopAaa{
    box-shadow: 0px 5px 20px #e6e6e6 ;
}