@import "../node_modules/bootstrap/scss/bootstrap.scss";

.aa01Logo{
    margin-top: 10px;
    height: 60px;
    width: 205px;
    margin-left: -25px;
}
.mr-30{
    margin-right: 30px;
}
.mb-0{
    margin-bottom: 0px;
}
.pr-0{
    padding-right : 0px;
}

.pl-0{
    padding-left: 0px;
}
.navTopAaa{
    a:last-child{
        text-decoration: none;
        color: black;
        font-family: 'Montserrat', sans-serif;
        h2{
            margin-bottom: 0px;
            font-size: 20px;
        }
    }
}
.mainImage{
    margin-top: 150px;
    margin-bottom: 150px;
}

.footerContent{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right:  30px;
    font-size: 13px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

